body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('../img/fondu1.jpg');
}

.form-horizontal .form-group {
    border-bottom: 1px solid #eff2f7;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.form-horizontal {
    width: 30%;
    margin:auto;

}

#boto{
  background-color:black;
  border:black;
}

.btn-primary:hover{
  color:black !important;
  background-color:white !important;
  font-size: 250%;
  font-family: bold 'Lato', sans-serif !important;
}

.jumbotron{
    /*background: url('../img/batman1.png');*/
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.7);
    border-radius:4px;
    width:100%;
    margin:auto;
}

#batman{
  background-image: url('../img/batman1.png');
  width: 353px;
  height: 211px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin:auto;
}



@media only screen and (min-width:900px){
  /*Pantalles grans*/
}

@media only screen and (max-width:899px){
  /*Pantalles petites*/
}