body{
  background: url('../img/batman1.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.form-horizontal {
    width: 30%;
    margin: 250px auto;
}

#boto{
  background-color:black;
  border:black;
}

.btn-primary:hover{
  color:black !important;
  background-color:white !important;
  font-size: 250%;
  font-family: bold 'Lato', sans-serif !important;
}