{% extends 'base.html' %}
      {% block title %} Crear Denuncia {% endblock %}
  {% block extra-head %}
    {% load static %}
      <link href="{% static "css/denuncia.css" %}" rel="stylesheet">
      <link href="{% static "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" %}" rel="stylesheet" />
   {% endblock %}
  
  {% block content %}
    <!-- CONTAINER PÀ TOÓ -->
      <section id='container'>
        <!--HEADER AMB SUS COSES-->   
        <header class="header dark-bg">
          <!--LOGO start-->
              <!--<a href="index.html" class="logo">Nice <span class="lite">Admin</span></a>-->
             <a href="{% url 'delictes:denuncia' %}" class="logo">Gotham <span class="lite"> Police Departament</span></a>
           <!--logo end-->
            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                <!-- MENÚ DEL PERFIL DE L'USUARI-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="username">Benvingut ciutada</span>
                            <span class="profile-ava">
                                <img alt="" src="../../static/img/user.png">
                            </span>
                             <span class="username1">{{user.username}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href=""><i class="icon_profile"></i> Canviar contrasenya </a>
                            </li>
                            <li>
                                <a href="{%url 'usuaris:logout' %}"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- ASÍ SE ACABA EL MENÚ DE L'USUARI -->
                </ul>
            </div>  
          </header>

          <!--FORMULARI i SUS COSAS-->
          <!--no t'equivoquis que primer vé el contenidor-->
           <div id="main-content">
              <div class="wrapper">
 				<h3 class="page-header"><i class="fa fa-file-text-o"></i> Crear denuncia</h3>
 				    <!--te presento mi amigo formulari-->
                    <form class="form-horizontal" action="" method='post'>        
                     {% csrf_token %}
                     
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                            {{ field.label_tag }}
                               {{ field }}
                            </div>
                                <!--si hi han errors que me lus ensenye-->
                                {% if field.errors %}
                                <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <ul>
                                    {% for error in field.errors%}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                </div>
                                {% endif %}
                        <!--otro input pà pintar-->    
                        {% endfor %}
                        <button class="btn btn-info btn-lg btn-block" type="submit">Enviar per lluitar contra el crim</button>
                        <!--aquí s'acaba el formulari-->
                    </form>
                </div>
            </div>    
        <!--main content end-->
  
   {% endblock %}  
     
   {% block extra-body %}
       <!-- container section end -->
        <!-- javascripts -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <!-- nice scroll -->
        <script src="{% static "js/jquery.scrollTo.min.js" %}"></script>
        <script src="{% static "js/jquery.nicescroll.js" %}" type="text/javascript"></script>
    
        <!-- jquery ui -->
        <script src="{% static "js/jquery-ui-1.9.2.custom.min.js" %}"></script>
    
        <!--custom checkbox & radio-->
        <script type="text/javascript" src="{% static "js/ga.js" %}"></script>
        <!--custom switch-->
        <script src="{% static "js/bootstrap-switch.js" %}"></script>
        <!--custom tagsinput-->
        <script src="{% static "js/jquery.tagsinput.js" %}"></script>
        
        <!-- bootstrap-wysiwyg -->
        <script src="{% static "js/jquery.hotkeys.js" %}"></script>
        <script src="{% static "js/bootstrap-wysiwyg.js" %}"></script>
        <script src="{% static "js/bootstrap-wysiwyg-custom.js" %}"></script>
          <!-- custom form component script for this page-->
        <script src="{% static "js/form-component.js" %}"></script>
        <!-- custome script for all page -->
        <script src="{% static "js/scripts.js" %}"></script>
        <!--select2-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" ></script>      
   {% endblock %}