{% extends "base.html" %}
  {% block title %} Login {% endblock %}
  {% block extra-head %}
    {% load static %}
      <link href="{% static "css/login.css" %}" rel="stylesheet">  
  {% endblock %}
  
  {% block content %}
  <div class="login-img3-body">
    <div class="container">
      
      <!--formulari-->
      <form class="login-form" action='' method='POST'>
         {%csrf_token%}        
        <div class="login-wrap">
           <!--tots els inputs necessaris -->
            {% for field in form.visible_fields %}
              <div class="form-group">
                <span class="input-group-addon"></span>
                  {{field}}
                      <!--si existeixen missatges errors-->
                      {% if field.help_text %}
        	            {% endif %}
        		        {% if field.errors %}		        	
        			        <div class="alert alert-danger">
        			        <button type="button" class="close" data-dismiss="alert">&times;</button>
        				        <ul>
        				          {% for error in field.errors%}
        				          <li>{{ error }}</li>
        			              {% endfor %}
        			            </ul>
        		         	</div>
        		        {% endif %}
        	        </div>        
                 {% endfor %}
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
          <!--se acabaron los inputs --> 
        </div>
      </form>
      <a href='{% url "usuaris:registrarse" %}' class="btn btn-success btn-lg btn-block">registre</a>
    </div>
  </div>    
{% endblock %}