{% extends "base.html" %}
  {% block title %} Login {% endblock %}
  {% block extra-head %}
    {% load static %}
      <link href="{% static "css/login.css" %}" rel="stylesheet">  
  {% endblock %}
  
  {% block content %}
  <div class="login-img3-body">
    <div class="container">

      <!--formulari-->
      <form class="login-form" action='' method='POST'>
         {%csrf_token%}        
        <div class="login-wrap">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>
             {{form.username}}
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                {{form.password}}
            </div>
             <label class="checkbox">
               <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            
              {% if messages %}
              <ul>
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
            
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
          <!--se acabaron los inputs --> 
        </div>
      </form>
      <a href='{% url "usuaris:registrar_ciutada" %}' class="btn btn-success btn-lg btn-block">registre</a>
    </div>
  </div>    
{% endblock %}